#include "version.h"

1 VERSIONINFO
FILEVERSION      1,5,3,0
PRODUCTVERSION   1,5,3,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments",         "Fix Halo CE map errors caused by tool.exe bugs"
            VALUE "CompanyName",      "<3"
            VALUE "FileDescription",  "Fix Halo CE map errors caused by tool.exe bugs"
            VALUE "FileVersion",      TOOL_SQUISHER_VERSION
            VALUE "InternalName",     "tool-squisher"
            VALUE "OriginalFilename", "tool-squisher.exe"
            VALUE "ProductName",      "Tool Squisher"
            VALUE "ProductVersion",   TOOL_SQUISHER_VERSION
            VALUE "LegalCopyright",   "\xA9 2026 Aerocatia"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

134 ICON "icon/icon.ico"
